#Roadmap{
    h2{
        margin-bottom: 50px;
    }
    .content{
        display: flex;
        align-items: center;
        .img-container{
            margin-left: 50px;
            height: 400px;
            border-radius: 20px;
            background: url('../../../public/CLOSE_UP_2.jpg');
            background-size: cover;
            background-position: center;
        }
    }
    @media screen and (max-width: 992px) {
        .content{
            .accordion-container{
                max-width: 80%;
                width: 80%;
                margin: 0 auto;
            }
            .img-container{
                display: none;
            }
        }
    }
    @media screen and (max-width: 768px){
        h2{
            margin-bottom: 0;
        }
        .content{
            .accordion-container{
                max-width: 100%;
                width: 100%;
            }
        }
    }
}