#Welcome{
    text-align: center;
    .content{
        text-align: left;
        >div{
            &:first-child{
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                padding: 0 25px;
            }
        }
    }
    @media screen and (max-width: 992px){
        .content{
            .img-welcome{
                flex: 1;
            }
        }
    }
    @media screen and (max-width: 768px){
        .content{
            flex-direction: column-reverse;
            > div{
                width: 100%;
                text-align: justify;
                &:first-child{
                    padding: 0;
                    max-width: 600px;
                    margin: 0 auto;
                }
            }
            .img-welcome{
                flex: 1;
                width: 100%;
                margin-bottom: 50px;
                max-width: 600px;
                margin: 0 auto 50px;
            }
        }
    }

}