#Market{
    background-image: url("../../../public/item_bones02.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        font-size: 4rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #000000;
        padding: 10px 20px;
        border-radius: 10px;
        span{
            color: #FFFFFF;
        }
        img{
            vertical-align: text-bottom;
            width: 50px;
        }
    }
    @media screen and (max-width: 992px){
        a{
            font-size: 3rem;
            img{
                width: 35px;
            }
        }
    }
    @media screen and (max-width: 768px){
        height: 25vh;
        background-size: cover;
    }

    @media screen and (max-width: 576px){
        a{
            font-size: 2rem;
            img{
                width: 25px;
            }
        }
    }
    @media screen and (max-width: 478px){
        a{
            font-size: 1.8rem;
            img{
                width: 20px;
            }
        }
    }
}