#Footer{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pull-left{
        a{
            display: block;
            text-transform: uppercase;
        }
    }
    img.logo{
        height: 100%;
    }
    .pull-right{
        img{
            height: 25px;
        }
    }
}