#Footer{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pull-left{
        a{
            display: block;
            text-transform: uppercase;
        }
    }
    img.logo{
        height: 100%;
    }
    .pull-right{
        img{
            height: 25px;
        }
    }
    @media screen and (max-width: 768px){
        .pull-left{
            width: 20%;
        }
        img.logo{
            width: 60%;
            height: auto;
        }
        .pull-right{
            width: 20%;
        }
    }
    @media screen and (max-width: 476px){
        .pull-left{
            width: 20%;
            font-size: 1rem;
            a{
                margin: 15px 0;
            }
        }
    }
}