button{
    color: #000000;
    font-size: 3rem;
    margin-right: 50px;
    margin-top: 50px;
    cursor: pointer;
}

.first{
    font-size: 3rem;
    button{
        margin-left: 25px;
    }
}
.second{
    font-size: 3rem;
    button{
        margin-left: 25px;
    }
}
.third{
    font-size: 3rem;
    button{
        margin-left: 25px;
    }
}

.fourth{
    font-size: 3rem;
    button{
        margin-left: 25px;
    }
}

.fifth{
    font-size: 3rem;
    button{
        margin-left: 25px;
    }
}

ul.notes{
    margin-top: 25px;
    padding-left: 25px;
    font-size: 2rem;
    list-style-type: disc;
}

input{
    color: #000000;
}